body {
    background-color: #fff;
    padding: 40px 80px 40px 80px;
    margin: 0;
    font-family: 'Arial';
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothin: grayscale;
}

code {
    font-family: Arial;
}

.app {
    background: #fff;
    padding: 30px;
    height: 100vh;
}

.todo-list {
    width: 500px;
    background: #EBEBEB;
    border-radius: 4px;
    padding: 8pxpx;
    max-width: 400px;
}

.todo {
    background: #f1f3f9;
    box-shadow: 1px 1px 1px rgba(0,0,0,0.15);
    padding: 8px 16px;
    font-size: 18px;
    margin-bottom: 6px;
    border-radius: 3px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

::placeholder {
    color: rgb(188, 186, 186);
}

.input {
    margin-top: 30px;
    max-height: 20px;
    display: flex;
    width: 80%;
    background-color: #fafcff;
    color: #000000;
    border-radius: 7px;
    border-color: #d5dae4;
    border-style: solid;
    box-shadow: none;
    padding: 1rem;
    height: 2.25em;
    font-size: 18px;
}

.close {
    background-image: url('https://jorgeamparan.github.io/todo-list/images/eliminar2.png');
    background-size: 28px;
    background-repeat: no-repeat;
    background-position: center;
    align-self: hover;
    cursor: pointer;
    width: 30px;
    height: 30px;
    padding: 4px;

}

.title {
    width: 100%;
    height: auto;
}

.title-image {
    width: 100px;
    height: 95px;
    margin-right: 16px;
    background-image: url('https://jorgeamparan.github.io/todo-list/images/calendario2.png');
    background-size: 100px;
}
